@import '../../scss/utils';

.a-Link {
  cursor: pointer;
  text-decoration: none;
  font-weight: font-weight('regular');

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    font-style: italic;
    color: clr('red', 'base')
  }
}