@import '../../scss/utils';

// -----------------------------------------------------------------------------------------------------
// Padding
.p {
  &-non {
    padding: unit-x(0)
  }
  &-sgl {
    padding: unit-x($eighth)
  }
  &-dbl {
    padding: unit-x($quarter)
  }
  &-tpl {
    padding: unit-x($half)
  }
}