.a-Flex {
  display: flex;

  // ---------------------------------------------------------------------------------------------------
  // Flex direction
  &.row {
    flex-direction: row;
  }
  &.row-reverse {
    flex-direction: row-reverse;
  }
  &.col {
    flex-direction: column;
  }
  &.col-reverse {
    flex-direction: column-reverse;
  }

  // ---------------------------------------------------------------------------------------------------
  // Flex Wrap
  &.wrap {
    flex-wrap: wrap;
  }

  &.wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  &.nowrap {
    flex-wrap: nowrap;
  }

  // ---------------------------------------------------------------------------------------------------
  // Justify Content
  &.justify {
    &-start {
      justify-content: flex-start;
    }
    &-end {
      justify-content: flex-end;
    }
    &-center {
      justify-content: center;
    }
    &-between {
      justify-content: space-between;
    }
    &-around {
      justify-content: space-around;
    }
    &-evenly {
      justify-content: space-evenly;
    }
  }

  // Align Items
  &.items {
    &-start {
      align-items: flex-start;
    }
    &-end {
      align-items: flex-end;
    }
    &-center {
      align-items: center;
    }
    &-baseline {
      align-items: baseline;
    }
    &-stretch {
      align-items: stretch;
    }
  }

  // Align Content
  &.content {
    &-start {
      align-content: flex-start;
    }
    &-end {
      align-content: flex-end;
    }
    &-center {
      align-content: center;
    }
    &-between {
      align-content: space-between;
    }
    &-around {
      align-content: space-around;
    }
    &-evenly {
      align-content: space-evenly;
    }
  }
}
