@import '../../scss/utils';

/// A Display is large decorative text found rarely on a page. It can be used in any way as long as the text doesn't feel crowded and is legible.

.a-Display {
  font-size: font-size('display');
  line-height: line-height('display');
  font-weight: font-weight('bold');
  text-align: center;
}